In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('/Users/harsh/Documents/movies.sqlite')

In [3]:
cursor = conn.cursor()

In [4]:
# query = """
# SELECT t.twiter_id ,
# t.unix_time ,
# t.tweet ,
# t.imdb_links 
# FROM tweets t 
# WHERE imdb_links LIKE "%title/tt%"
# """

query = """
SELECT *
FROM dummy1
"""

In [5]:
import re

def extract_movie_id(df, imdb_links_col):
    df['movie_id'] = -1
    for index, row in df.iterrows():
        imdb_link = row[imdb_links_col]
        if not isinstance(imdb_link, str):
            continue
        pattern = '.*?/tt([0-9]*)/*$' 
        p = re.compile(pattern, re.M | re.I)
        matches = p.findall(imdb_link)
        if len(matches) > 0:
            df.at[index, 'movie_id'] = matches[0]
    return df

In [6]:
df = pd.read_sql(query, conn)
df

DatabaseError: Execution failed on sql '
SELECT *
FROM dummy1
': no such table: dummy1

In [ ]:
df1 = df

In [ ]:
df1.head()

In [ ]:
df1 = extract_movie_id(df1, 'r_url')

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1['movie_id'] = df1['movie_id'].astype(int)

In [ ]:
df1.info()

In [ ]:
import re

def extract_rating(df, tweet_col):
    df['rating'] = ""
    for index, row in df.iterrows():
        tweet = row[tweet_col]
        pattern = r'(\d+.\d+|\d+)/(\d{1,2})'
        p = re.compile(pattern, re.M | re.I)
        matches = p.findall(tweet)
        if len(matches) > 0:
            df.at[index, 'rating'] = matches[0][0] + '/' + matches[0][1]
    return df

df1 = extract_rating(df1, 'tweet')

df1